/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;600&display=swap');
/* tudo */
:root{
    --corfundo: #00030C; /* cor primaria */
    --corletra:#FFFFFF; /*letra h1 */
    --corletrinhas:#F9F9F9;/* letra pequenas*/
    --corletri:#C0C0C0;/* letras cinzas*/
    --corbotao:#167BF7;/* botao */
    --fontsans:"Inter",sans-serif;/* font inter sem serifa */
    --botaoefeito: #3c92fa;

}
*{
    margin: 0;
    padding: 0;
}

/* tags */
body{
    background-color: var(--corfundo);
    color: var(--corletra);
    font-family: var(--fontsans);
    font-size: 1rem;
    font-weight: 400;
}
/* .class */
.inicio{
    background-image: url("img/back.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
  

}
.botao{
    border-radius: 8px;
    padding: 1em;
    color: var(--corletra);
    text-decoration: none;
    font-family: var(--fontsans);
    text-align: center;
    display: block;
    margin-bottom: 1em;


}
.colorido{
    background-color: var(--corbotao);
}
.semcor{
    border: 1px var(--corletra) solid;
}
.outro{
    background-color: var(--corbotao);
    display: inline-block;

}
.paragrafoinicio{
    font-size: 0.75rem;
    color: var(--corletri);

}
.template{
    margin: 0 6em;
    
}
.image{
    margin: 1em 0 2em 0;

}
.img{
    width: 80%;

}
.titulo{
    font-size: 28px;

}
.paragrafomeio{
    color: var(--corletrinhas);
    opacity: 0.800000011920929;
    margin: 1em 0;

}
.meio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}
.segundo{
    align-items: center;
    margin: 0 10em;

}